<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oooo Friend! *thumbs up*</title>
</head>
<body>
<p>Dearest {{ request_receiver.user_name }},<br><br>
{{ request_sender.user_name }}  would like to form a deadly partnership with you.<br><br>
Like Holmes & Watson, Batman & Robin or Llamas & <strong>EXTREME SKYDIVING</strong>….ok, so
maybe not the last one...<br><br>
There you will traverse minefields and rescue Llamas.<br><br>
Merriment awaits!<br><br>
Bad Llama Games</p>
</body>
</html>