<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Llama Landmine{% endblock %}</title>
		<link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css" /> <!-- CSS -->
    </head>
	
	<body>
	<header class="navbar"  >
	<p>LLama LandMine </p>
	</header>
	
	<section id="register" class="container content-section text-center" >
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                {% block sidebar %} {% endblock %}
            </div>
        </div>
    </section>
	<section id="play" class="container content-section text-center" >
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                {% block body %} {% endblock %}
            </div>
        </div>
    </section>
	
	</body>
	
</html>