{% extends "base2.html" %}

{% block body %}

<div id = "eprofile">
<h2>Profile</h2>
<p> Picture</p>
<button type="button">Upload new Picture</button>
<p> Password</p>
<button type="button">Reset Password</button>
</div>

<div id = "ebadges">
<h2> Badges </h2>
<img src="badge.jpg" alt="badge">
<p> BADGE NAME GOES HERE</p>
<img src="badge2.jpg" alt="badge2">
<p> BADGE NAME GOES HERE</p>
<img src="badge3.jpg" alt="badge3">
<p> BADGE NAME GOES HERE</p>
<img src="badge4.jpg" alt="badge4">
<p> BADGE NAME GOES HERE</p>
<!-- all badges go here and user picks favourite four -->
</div>

<button type="button">Revert</button>
<button type="button">Save Changes</button>

{% endblock %}