{% extends "basic.html" %}
{% load staticfiles %}

{% block extraJS %}
    <script src="{% static 'js/scripts/post_request_handler.js' %}"></script>
    <script src="{% static 'js/scripts/game_script.js' %}"></script>
    <script src="{% static 'js/libraries/jquery_timer.js' %}"></script>
{% endblock %}

{% block body %}
    <h1 class="text-title text-uppercase"> {{ level }}</h1>
    <div class="row spacer"></div>
    <!--Game play on the left side-->
    <div class="row">
        <div class="col-lg-9 col-lg-offset-1 col-xs-12">
            <div id="grid" data-level="{{ level }}" data-size="{{ size }}">
                {% for i in size_range %}
                    {% for j in size_range %}
                        <input type="button" class="grid_btn"
                               data-row="{{ i }}" data-column="{{ j }}" value="">
                    {% endfor %}
                    <br/>
                {% endfor %}
            </div>
            <div class="row">
                <div class="alert alert-success col-lg-12 col-xs-12">
                    <strong> Llamas Remaining: <span id="llamas_counter">{{ llamas }}</span></strong>
                    <strong> Mines Remaining: <span id="mines_counter">{{ mines }}</span></strong>
                    <strong> Time Taken: </strong><a class="text-orange" id="timer">00:00</a>
                </div>
            </div>
        </div>

     <!--Advertisements on the right side-->
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" >
            <div class="panel panel-black">    <!-- friend request panel -->
                <div class="panel-heading text-center"><h4 class="text-white"> Advertisements</h4></div>    <!-- friend request panel header open close-->
                <div class="panel-bodyb text-center">
                    <div class="panel panel-black panel-body">
                        <p class="text-orange"><strong> Single Llamas in your area!</strong> </p>
                        <img class="thumbnail" src="{% static 'images/single_llama.jpg' %}" alt="single">
                    </div>
                    <div class="panel panel-black panel-body">
                        <p class="text-orange"><strong> Eric the Llama lost 160kg with this new pill! Vets hate him!</strong></p>
                        <img class="thumbnail" src="{% static 'images/pills.jpg' %}" alt="pills">
                        <p><small class="text-orange">*note cyanide may cause immediate death</small></p>
                    </div>
                    <div class="panel panel-black panel-body">
                        <p class="text-orange"> <strong>Jane the Llama makes $120 a day working from home! See her crazy trick here</strong> </p>
                        <img class="thumbnail" src="{% static 'images/rich_llama.jpg' %}" alt="rich">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="game_over"></div>
{% endblock %}