{% extends "base2.html" %}

{% block body %}
<div>
	<img src="Game_Over.jpg" alt="gameover">
	<div>
		<p> Your Score: {{ lastscore }} </p>
	</div>
			
	<div>
		<button type="button">Play Again</button>
		<button type="button">View Leaderboard</button>
	</div>
</div>
		
<div>
	<div>
		<table border ="1"> 
		<tr>
		<th>Today's Leaderboard</th>
		</tr>
        {% for entry in todaylist  %}
		    <tr>
                <td>{{ todaystart|add: forloop.counter  }}. {{ entry.user.user_name }} - {{ entry.score }}</td>
		    </tr>
        {% endfor %}
		</table>
	</div>
			
	<div>
		<table border ="1"> 
		<tr>
		<th>All Time Leaderboard</th>
		</tr>
        {% for entry in alltimelist %}
		    <tr>
                <td>{{ atstart|add: forloop.counter }}. {{ entry.user.user_name }} - {{ entry.score }}</td>
		    </tr>
        {% endfor %}
		</table>
	</div>
			
	<div>
		<table border ="1"> 
		<tr>
		<th>Friends Leaderboard</th>
		</tr>
        {% for entry in friendlist %}
		    <tr>
                <td>{{ friendstart|add: forloop.counter  }}. {{ entry.user.user_name }} - {{ entry.score }}</td>
		    </tr>
        {% endfor %}
		</table>
	</div>
		
</div>
{% endblock %}