{% extends "basic.html" %}
{% load staticfiles %}

{% block extraJS %}
    <script src="{% static 'js/scripts/post_request_handler.js' %}"></script>
    <script src="{% static 'js/scripts/game_script.js' %}"></script>
    <script src="{% static 'js/libraries/flipclock.min.js' %}"></script>
{% endblock %}

{% block body %}
    <h1 class="text-title text-uppercase"> {{ level }}</h1>
    <div class="row spacer"></div>
    <!--Game play on the left side-->
    <div class="row">
        <div class="col-lg-9 col-lg-offset-1 col-xs-12">
            <div id="grid" data-level="{{ level }}" data-size="{{ size }}">
                {% for i in size_range %}
                    {% for j in size_range %}
                        <input type="button" class="grid_btn btn-game"
                               data-row="{{ i }}" data-column="{{ j }}" value="">
                    {% endfor %}
                    <br/>
                {% endfor %}
            </div>
            <div id="llamas_counter">{{ llamas }}</div>
            <div id="mines_counter">{{ mines }}</div>
            <div id="timer">00:00</div>
        </div>

     <!--Advertisements on the right side-->
        <div class="col-lg-2 " id="advmove">
            <div class="panel panel-black">    <!-- friend request panel -->
                <div class="panel-heading text-center"><h2 class="text-white"> Advertisements</h2></div>    <!-- friend request panel header open close-->
                <div class="panel-body text-center">
                    <div class="alert-success">
                        <p> Single Llamas in your area! </p>
                        <img src="{% static 'images/single_llama.jpg' %}" alt="single">
                    </div>
                    <div class="alert-success">
                        <p> Eric the Llama lost 160kg with this new pill! Vets hate him!</p>
                        <img src="{% static 'images/pills.jpg' %}" alt="pills">
                        <p><small class="alert-warning">*note cyanide may cause immediate death</small></p>
                    </div>
                    <div class="alert-success">
                        <p> Jane the Llama makes $120 a day working from home! See her crazy trick here </p>
                        <img src="{% static 'images/rich_llama.jpg' %}" alt="rich">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="game_over"></div>
{% endblock %}