
{% load staticfiles %}

<script src="{% static 'js/scripts/game_over_script.js' %}"></script>
<script src="{% static 'js/scripts/post_request_handler.js' %}"></script>

<div id="end_game_stats">
    <div>
        <img src="{% static 'images/Game_Over.jpg' %}" alt="gameover">
        <div>
            <p> Your Score: {{ last_score }} </p>
        </div>

        <div>
            <a href="{% url 'game' level %}" class="btn btn-primary btn-lg">Play Again?</a>
            <a href="{% url 'leaderboard' %}" class="btn btn-primary btn-lg">View Full Leaderboards</a>
        </div>
    </div>

    <div>
        <div>
            <table border ="1">
                <tr>
                    <th>Today's Leaderboard</th>
                </tr>
                {% if registered %}
                    {% if todaylist %}
                        {% for entry in todaylist  %}
                            {{ entry.score }}
                            <tr>
                                <td class="{% if last_game and entry == last_game %}text-bold"{% endif %}>
                                    {{ forloop.counter0|add:todaystart }}. {{ entry.user.user_name }} - {{ entry.score }}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% for entry in todaylist  %}
                        {{ entry.score }}
                        <tr>
                            <td>{{ forloop.counter}}. {{ entry.user.user_name }} - {{ entry.score }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>

        <div>
            <table border ="1">
            <tr>
            <th>All Time Leaderboard</th>
            </tr>
            {% if registered %}
                {% for entry in alltimelist %}
                    <tr>
                        <td class="{% if last_game and entry == last_game %}text-bold"{% endif %}>
                            {{ forloop.counter|add:atstart }}. {{ entry.user.user_name }} - {{ entry.score }}
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                    {% for entry in alltimelist %}
                        <tr>
                            <td>{{ forloop.counter|add:atstart }}. {{ entry.user.user_name }} - {{ entry.score }}</td>
                        </tr>
                    {% endfor %}
            {% endif %}
            </table>
        </div>

        <div>
            <table border ="1">
            <tr>
            <th>Friends Leaderboard</th>
            </tr>
            {% if registered %}
                {% for entry in friendlist %}
                    <tr>
                        <td class="{% if last_game and entry == last_game %}text-bold"{% endif %}>
                            {{ forloop.counter0|add:friendstart }}. {{ entry.user.user_name }} - {{ entry.score }}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>You need to be logged in to see this!</p>
            {% endif %}
            </table>
        </div>

            <a href="{% url 'game' level %}" class="btn btn-primary btn-lg">Play Again?</a>
            <a href="{% url 'leaderboard' %}" class="btn btn-primary btn-lg">View Full Leaderboards</a>
    </div>
</div>
<div class="row spacer"></div>

    {% if registered %}
        <div id="challenge_div">
            <p>Challenge a friend to beat your score!</p>
            <input id="friend_name" type="text"
                   placeholder="Username of the friend you want to challenge">
            <button id="challenge">Game on!</button>
        </div>
    {% endif %}
</div>