{% extends "basic.html" %}
{% load staticfiles %}

{% block extraJS %}
    <script src="{% static 'js/scripts/post_request_handler.js' %}"></script>
    <script src="{% static 'js/scripts/game_script.js' %}"></script>
    <script src="{% static 'js/libraries/flipclock.min.js' %}"></script>
{% endblock %}

{% block body %}
    <h1 class="page-header"> {{ level }}</h1>
    <div id="grid" data-level="{{ level }}" data-size="{{ size }}"></div>
    <div id="llamas_counter">{{ llamas }}</div>
    <div id="mines_counter">{{ mines }}</div>
    <div class="clock"></div>

    <div>
        <h2> Advertisements</h2>
        <div>
            <p> Single Llamas in your area! </p>
            <img src="{% static 'images/single_llama.jpg' %}" alt="single">
        </div>

        <div>
            <p> Eric the Llama lost 160kg with this new pill! Vets hate him!</p>
            <img src="{% static 'images/pills.jpg' %}" alt="pills">
            <p><small>*note cyanide may cause immediate death</small></p>
        </div>

        <div>
            <p> Jane the Llama makes $120 a day working from home! See her crazy trick here </p>
            <img src="{% static 'images/rich_llama.jpg' %}" alt="rich">
        </div>

    </div>

    <div id="game_over"></div>
{% endblock %}