
{#% extends "basic.html" %#}
{% load staticfiles %}
 <!-- Bootstrap Core css -->
    <link href="{%  static "css/bootstrap.min.css" %}" rel="stylesheet">

<!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <!--<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>-->
                </button>
                <a class="navbar-brand" href="{% url "home" %}">Llama Landmine!</a>
            </div>
        </nav>

{% block body %}

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div class="container-fluid ">
        <div class="jumbotron">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-6">

                    <div class=".col-xs-12 .col-sm-6 .col-lg-6 text-warning text-justify">
                        <h2 id="Login" class="text-center text-orange">Login</h2>

                        <p class ="text-body"> New to Llama Landmine?
                            Click <a href="{% url 'register' %}">here</a> to register</p>

                        <form class="form-horizontal" role="form" id="login_form"
                              method="post" action="{% url 'home' %}">
                            {% csrf_token %}

                            <div class="form-group" >
                                <label class="text-label col-sm-2" for="Username">Username:</label>
                                <div class="col-sm-10 col-md-6 col-lg-6">
                                    <input type="text" class="form-control"
                                           name="username" value="" size="50" placeholder="Enter Username">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="text-label col-sm-2" for="pwd">Password:</label>
                                <div class="col-sm-10 col-md-6 col-lg-6">
                                    <input type="password" class="form-control"
                                           name="password" value="" size="50" placeholder="Enter Password">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <a href="{% url 'play' %}"
                                       class="btn btn-primary btn-lg">Play Without Registering</a>
                                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                </div>
                            </div>

                            <!--
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit"
                                            class="btn btn-primary btn-md">Forgot your password</button>
                                </div>
                            </div>
                            -->
                        </form>

                        <div>
                            <!-- Facebook API -->
                            <!-- Twitter API -->
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <div class="container text-warning text-justify">
                        <h2 id="sub_heading" class="text-center text-orange">About the game</h2>

                        <p class="text-body"> It's 2016 and war has broken out across Europe.
                            The death toll has already surpassed 1 million and is rising by the day.
                            Portuguese Rebels have launched an invasion into Spain and the Spanish
                            defenses are crumbling under the relentless assault. Germany insurrections
                            have overthrown the government and  Swedish cartels now control most of
                            Scandinavia. With hopes of peace and justice fading fast, the continent
                            finds itself crying out for a hero to save them from total destruction...

                            Meanwhile a herd of Peruvian Llamas have wandered into a nuclear minefield!
                        </p>

                        <a href="#Reviews" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </div>

        <!--Reviews Section-->
        <section id="Reviews" class="container-fluid ">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                   <div class="container text-warning text-justify">

                        <h2 id="sub_heading" class="text-center text-orange"> Reviews</h2>
                            <p class="text-body">Llamagamer.net - '***** Llamarrific'</p>
                            <p class="text-body">The Llama Bible - 'Perfection ' '5 Llamas out of 5'</p>
                            <p class="text-body">   Webgames.com - 'Of all the web games we've played this was one of them'</p>
                            <p class="text-body">   John - 'I was actually looking to play Minecraft'</p>
                            <p class="text-body">   Jeff - 'What?' </p>
                   </div>
                </div>
        </section>


    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/js/grayscale.js"></script>


{% endblock %}

</body>


