{% extends "basic.html" %}
{% load staticfiles %}
<!-- Bootstrap Core css -->
    <link href="{%  static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom css -->
    <link href="{%  static "css/sb-admin.css" %}" rel="stylesheet">
{% block body %}
 <div class="row">
<div class="col-sm-1 col-xs-1 col-lg-1" >

    </div>
    <div class="col-sm-5 col-xs-10 col-lg-5" >
        <h1 class="text-center text-orange ">How to Play</h1>
     <p class="text-left text-body text-size text-justify " >1. Pick your level - Easy, Intermediate, Hard <br>

                                                                 2. Click on a square in the grid
                                                                     If it's a Mine - GAME OVER
                                                                 If it's a Llama - WOOP you found one!
                                                                 Otherwise it'll have two numbers, they tell you the
                                                                  amount of Llamas and Mines in the surrounding
                                                                  squares<br>

                                                                  3. REPEAT TILL YOU WIN OR DIE TRYING!<br>

                                                                  May the odds forever be in your favour...</p>
    </div>
    <div class="col-sm-2 col-xs-4 col-lg-2 " >

    </div>

<div class="col-sm-3 col-lg-3 col-lg-3" >
    <div class="row">
        <div class="col-sm-6 col-xs-6 col-lg-6 table-bordered " >
      <h2 class="text-center text-orange "> Tip !</h2>
<p class="text-center text-body text-size">Rick-Click to flag the square as a Mine!</p>

    </div>
        <br><br><br><br><br><br>
        <br><br><br><br><br><br>




  </div>
        <div class="row">
    <div class="col-sm-8 col-lg-8 col-lg-8 text-center" >
      <a href="{% url 'play' %}"  class="btn btn-primary btn-block btn-lg">Play Now !</a>

    </div>

 </div>
    </div>
  </div>


{% endblock %}




