{% extends "basic.html" %}
{% load staticfiles %}
{% block body %}
<h1 class="page-header"> How to Play</h1>

<div id = "howtotext">
<p>1. Pick your level - Easy, Intermediate, Hard

2. Click on a square in the grid
    If it's a Mine - GAME OVER
    If it's a Llama - WOOP you found one!
    Otherwise it'll have two numbers, they tell you the       
    amount of Llamas and Mines in the surrounding 
    squares

3. REPEAT TILL YOU WIN OR DIE TRYING!

May the odds forever be in your favour...</p>
</div>

<div id = "tip">
<h2>Tip!</h2>
<p>Rick-Click to flag the square as a Mine!</p>
</div>

<a href ="{% url 'play' %}" class="button">Play Now!</a>
<!-- Links to game page -->
<!-- Make this look like a button!-->

{% endblock %}




