<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Llama Landmine{% endblock %}</title>
		<link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css" /> <!-- CSS -->
    </head>
	
	<body>
	<section class="intro">
	<div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">LLama Landmine</h1>
                        <p class="intro-text"><H3>Reviews</H3>
"Llamagamer.net - '***** Llamarrific' The Llama Bible - 'Perfection ' '5 Llamas out of 5' Webgames.com - 'Of all the web games we've played this was one of them' John - 'I was actually looking to play Minecraft' Jeff - 'What?'" </p>
                        <div class="page-scroll">
                            <a href="home.html" class="btn btn-circle">
                               Login and PLay
                            </a>
							<a href="home.html" class="btn btn-circle">
                               Play without register
                            </a>
                        </div>
                    </div>
                </div>
			</div>    
		</div>
    </section>
 </body>
</html>