{% extends "basic.html" %}
{% load staticfiles %}
{% block body %}

<h1>Leaderboard</h1>

<div id = "tables">
	<div id = "today">
		<table border ="1"> 
		<tr>
		<th>Today's Leaderboard</th>
		</tr>
		<tr>
      {% for entry in todaylist  %}
		    <tr>
                <td>{{ forloop.counter  }}. {{ entry.user.user_name }} - {{ entry.score }}</td>
		    </tr>
        {% endfor %}
		</tr>
		</table>
	</div>
			
	<div id = "alltime">
		<table border ="1"> 
		<tr>
		<th>All Time Leaderboard</th>
		</tr>
        {% for entry in alltimelist %}
		    <tr>
                <td>{{ forloop.counter }}. {{ entry.user.user_name }} - {{ entry.score }}</td>
		    </tr>
        {% endfor %}
		</table>
	</div>
			
	<div id = "friends">
		<table border ="1"> 
		<tr>
		<th>Friends Leaderboard</th>
		</tr>
        {% for entry in friendlist %}
		    <tr>
                <td>{{ forloop.counter  }}. {{ entry.user.user_name }} - {{ entry.score }}</td>
		    </tr>
        {% endfor %}
		</table>
	</div>
</div>

{% endblock %}
