{% extends "base2.html" %}

{% block body %}

<h1>Leaderboard</h1>

<div id = "tables">
	<div id = "today">
		<table border ="1"> 
		<tr>
		<th>Today's Leaderboard</th>
		</tr>
		<tr>
		<td> 4. Jane - 250 </td>
		<td> 5. Clive - 243 </td>
		<td> 6. Alice - 236 </td>
		<td> 7. You - 200 </td>
		<td> 8. Clem - 185 </td>
		<td> 9. Gregg - 150 </td>
		<td> 10. Ozgur - 139 </td>
		</tr>
		</table>
	</div id = "today">
			
	<div id = "alltime">
		<table border ="1"> 
		<tr>
		<th>All Time Leaderboard</th>
		</tr>
		<tr>
		<td> 4. Jane - 250 </td>
		<td> 5. Clive - 243 </td>
		<td> 6. Alice - 236 </td>
		<td> 7. You - 200 </td>
		<td> 8. Clem - 185 </td>
		<td> 9. Gregg - 150 </td>
		<td> 10. Ozgur - 139 </td>
		</tr>
		</table>
	</div id = "alltime">
			
	<div id = "friends">
		<table border ="1"> 
		<tr>
		<th>Friends Leaderboard</th>
		</tr>
		<tr>
		<td> 4. Jane - 250 </td>
		<td> 5. Clive - 243 </td>
		<td> 6. Alice - 236 </td>
		<td> 7. You - 200 </td>
		<td> 8. Clem - 185 </td>
		<td> 9. Gregg - 150 </td>
		<td> 10. Ozgur - 139 </td>
		</tr>
		</table>
	</div id = "friends">
</div id = "tables">

{% endblock %}
