{% extends "basic.html" %}
{% load staticfiles %}

{% block extraJS %}
    <script src="{% static 'js/scripts/post_request_handler.js' %}"></script>
    <script src="{% static 'js/scripts/profile_script.js' %}"></script>
{% endblock %}
{% block body %}

    <h1> {{ profile_username }}'s Page</h1>

    {% if not are_friends %}
        <div>
            <form action ="{% url 'profile' profile_username %}" method="post">
                {% csrf_token %}
                <input type="submit" name="add_friend_button" id="add_friend_button" value="Add Friend"/>
            </form>
        </div>
    {% endif %}

    <div id = "badges">
        <h2> Top 4 Badges </h2>

        {% if is_your_page %}
            <a href="SeeBadges">See More</a>   Expand box - Containing list of badges
        {% endif %}

        {% for badge in badge_list %}
            <div>
                <img src="/static/badges/{{ badge.icon }}" type="image/png" alt="badge" style="width:128px;height:128px;"/>
                <p>{{ badge.name }}<br>{{ badge.description }}</p>
            </div>
        {% endfor %}

    </div>

<div id = "challenges">
    <h2> Ongoing Challenges </h2>

    {% if is_your_page %}
        <a href="SeeChallenges">See More</a>   Expand box - Containing list of challenges
    {% endif %}

    {% for challenge in challenge_list %}
        <div>
            <p><a href='{% url 'profile' challenge.challenger %}'>
                {{ challenge.challenger }}</a>: {{ challenge.game.level }} -
                {{ challenge.score_to_beat }}</p>
        </div>
    {% endfor %}

    {% if is_your_page %}
        <h2>Pending Challenges</h2>
        <a href="SeePendingChallenges">See More</a>   Expand box - Containing list of challenges

        {% if pending_challenges %}
            {% for challenge in pending_challenges %}
                <div>
                    {{ challenge.challenger }}
                    <button class="accept_challenge" name="{{ challenge.id }}">Accept</button>
                    <button class="decline_challenge" name="{{ challenge.id }}">Decline</button>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
</div>

<div id = "stats">
    <h2> Game statistics</h2>

    <p>Games played(Easy): {{ games_played_easy }} </p>
    <p>Games won(Easy): {{ games_won_easy }} </p>
    <p>Win %(Easy): {{ percentage_easy }} </p>

    <p>Games played(Medium): {{ games_played_norm }} </p>
    <p>Games won(Medium): {{ games_won_norm }} </p>
    <p>Win %(Medium): {{ percentage_norm }} </p>

    <p>Games played(Hard): {{ games_played_hard }} </p>
    <p>Games won(Hard): {{ games_won_hard }} </p>
    <p>Win %(Hard): {{ percentage_hard }} </p>

    <p>Challenges received: {{ challenges_received }}</p>
    <p>Challenges issued: {{ challenges_issued }}</p>
    <p>Challenges won: {{ challenges_won }}</p>
    <p> Win %: {{ percent_challenge_win }}</p>

</div>

<div id = "scores">
    <h2> High Scores </h2>
    <p> Easy: {{ easy_high }}</p>
    <p> Medium: {{ norm_high }}</p>
    <p> Hard: {{ hard_high }}</p>
</div>

<div id = "friends">
<h2> Friends </h2>
<!-- Search bar? -->
    {% for friend in friend_list %}
        <div>
            <p><a href='{% url 'profile' friend.user_name %}'>
                {{ friend.user_name }}</a></p>
        </div>
    {% endfor %}
</div>

{% if is_your_page %}
    <h2> Friend Requests</h2>
    {% if request_list %}
        {% for request in request_list %}
            {{ request }}
            <button class="accept_request" name="{{ request.user.user_name }}">Accept</button>
            <button class="decline_request" name="{{ request.user.user_name }}">Decline</button>
        {% endfor %}
    {% else %}
        No pending requests.
    {% endif %}
{% endif %}

{% endblock %}