{% extends "basic.html" %}

{% block body %}

    <h1> {{ profile_username }}'s Page</h1>

    {% if are_not_friends %}
    <div>
    <form action ="{% url 'profile' profile_username %}" method="post">
        {% csrf_token %}
        <input type="submit" name="add_friend_button" id="add_friend_button" value="Add Friend"/>
    </form>
    <a href="{% url 'profile' profile_username %}" class=button>Add Friend</a>
    </div>
    {% endif %}

    <div id = "badges">
        <h2> Top 4 Badges </h2>

        {% if is_your_page %}
            <a href="SeeBadges">See More</a>   Expand box - Containing list of badges
        {% endif %}

        {% for badge in badge_list %}
            <div>
                <img src="{{ badge.item.url }}" alt="badge"/>
                <p>{{ badge.name }}<br>{{ badge.description }}</p>
            </div>
        {% endfor %}

    </div>

<div id = "challenges">
    <h2> Ongoing Challenges </h2>

    {% if is_your_page %}
    <a href="SeeChallenges">See More</a>   Expand box - Containing list of challenges
    {% endif %}

    {% for challenge in challenge_list %}
        <div>
            <p><a href='{% url 'profile' challenge.challenger %}'>
                {{ challenge.challenger }}</a>{{ challenge.challenger }}<br>
                <br>{{ challenge.score_to_beat }}</p>
        </div>
    {% endfor %}
</div>

<div id = "stats">
    <h2> Game statistics</h2>

    <p>Games played(Easy): {{ games_played_easy }} </p>
    <p>Games won(Easy): {{ games_won_easy }} </p>
    <p>Win %(Easy): {{ percentage_easy }} </p>

    <p>Games played(Medium): {{ games_played_norm }} </p>
    <p>Games won(Medium): {{ games_won_norm }} </p>
    <p>Win %(Medium): {{ percentage_norm }} </p>

    <p>Games played(Hard): {{ games_played_hard }} </p>
    <p>Games won(Hard): {{ games_won_hard }} </p>
    <p>Win %(Hard): {{ percentage_hard }} </p>

    <p>Challenges received: {{ challenges_received }}</p>
    <p>Challenges issued: {{ challenges_issued }}</p>
    <p>Challenges won: {{ challenges_won }}</p>
    <p> Win %: {{ percent_challenge_win }}</p>

</div>

<div id = "scores">
    <h2> High Scores </h2>
    <p> Easy: {{ easy_high }}</p>
    <p> Medium: {{ norm_high }}</p>
    <p> Hard: {{ hard_high }}</p>
</div>

<div id = "friends">
<h2> Friends </h2>
<!-- Search bar? -->
    {% for friend in friend_list %}
        <div>
            <p><a href='{% url 'profile' friend.user.user_name %}'>
                {{ friend.user.user_name }}</a>{{ friend.user.user_name }}</p>
        </div>
    {% endfor %}
</div>

{% if is_your_page %}
    <div id = "requests">
        <h2> Friend Requests</h2>
        {% if request_shortlist %}
            <form id = requests method="post" action="{% url 'profile' profile_username %}">
                {%  csrf_token %}
                {% for request in request_shortlist %}
                    <p><a href='{% url 'profile' request.user.user_name %}'>
                        {{ request.user.user_name }}</a>{{ request.user.user_name }}</p>
                    <input type="submit" name="accept{{ request.id }}" value="Accept"/>
                    <input type="submit" name="reject{{ request.id }}" value="Reject"/>
                {% endfor %}
            </form>
        {% endif %}
    </div>
{% endif %}

{% endblock %}