{% extends "basic.html" %}
{% load staticfiles %}
 <!-- Bootstrap Core css -->
    <link href="{%  static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom css -->
    <link href="{%  static "css/sb-admin.css" %}" rel="stylesheet">
     <script src="{% static "js/libraries/jquery.easing.min.js"%}"></script>
     <script src="{%  static "js/libraries/bootstrap.min.js"%}"></script>
{% block extraJS %}
    <script src="{% static 'js/scripts/post_request_handler.js' %}"></script>
    <script src="{% static 'js/scripts/profile_script.js' %}"></script>
      <script>
        (function($) {
        $(function() {
      $(document).popover({ selector: '[data-toggle="popover"]' });
    });
  })(jQuery);
</script>
{% endblock %}
{% block body %}


    <h1 class="text-center text-orange text-uppercase"> {{ profile_username }}'s Page</h1>

    <!--Row for the username and the add friend button-->
    <div class="row">
        {% if not are_friends and not request_sent %}
            <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2 col-xs-offset-5
            col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
                <form action ="{% url 'profile' profile_username %}" method="post">
                    {% csrf_token %}
                    <input class="btn-primary btn-lg btn-block" type="submit"
                           name="add_friend_button" id="add_friend_button" value="Add Friend"/>
                </form>
            </div>
        {% endif %}
        <span>
        </span>
    </div>

    <div class="row spacer"></div>

    <!--Row to hold the badges and the Friends Requests-->
    <div class="row">
        <!--Badges-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
            <div class="panel panel-black">    <!-- badge panel -->
                <div class="panel-heading text-center text-orange">Top Badges
                    {% if is_your_page %}
                        <p class="text-right text-orange">
                            <button type="button" data-target="#seemorebadges" data-toggle="modal" class="btn btn-xs">See All</button>
                        </p>
                    {% endif %}
                </div>    <!-- badge panel header open close-->
                <div class="panel-body">
                    {% for badge in badge_shortlist %}
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <img src="/static/badges/{{ badge.icon }}"
                                         type="image/png" alt="badge"
                                         class="col-lg-12 col-xs-12 col-sm-12 col-md-12" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                    <h4 class="  text-center  ">{{ badge.name }}</h4><br>
                                    <p class="text-center text-orange table-headingb">Tier {{ badge.tier }} -
                                        {{ badge.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>    <!-- badge panel content open close-->
            </div> <!-- badge panel close-->
        </div> <!-- main div for badge and challenge close-->

        <!--Friends and Friend Requests-->
        <div class ="col-xs-12 col-sm-12 col-md-12 col-lg-3">

            <!--Friends-->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-black">
                        <div class="panel-heading text-center">Friends</div>
                        <div class="panel-body">
                            <div class="table-responsive">    <!--table div for friends-->
                                <table class="table table-primary">
                                    <tbody>
                                    {% for friend in friend_list %}
                                        <tr class="text-center">
                                            <td><a class="text-capitalize" href='{% url 'profile' friend.user.username %}'>
                                                {{ friend.user.username }}</a></td>    <!--table context for friends-->
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>      <!--table div for friends close-->
                        </div>
                    </div>
                </div>
            </div>

            <!--Friend Requests-->
            <div class="row">
                {% if is_your_page %}
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">    <!-- main div for friend request -->
                            <div class="panel panel-black">    <!-- friend request panel -->
                                <div class="panel-heading text-center">Friend Requests</div>    <!-- friend request panel header open close-->
                                <div class="panel-body text-center">
                                    <div class="table-responsive">    <!--table div for friend request-->
                                        <table class="table">
                                            <tbody class="text-center">
                                            {% if request_list %}
                                                {% for request in request_list %}
                                                    <tr>
                                                        <td> <a  href='{% url 'profile' request.user.user_name %}'>
                                                            {{ request.user.user_name }}</a></td>  <!--table context for friend request -->
                                                        <td><div class="btn-group btn-group-justified">
                                                            <div class="btn-group">
                                                                <button class="accept_request btn btn-success"
                                                                     name="{{ request.user.user_name }}">Accept</button>
                                                            </div>
                                                            <div class="btn-group">
                                                                <button class="decline_request btn btn-danger"
                                                                     name="{{ request.user.user_name }}">Decline</button>
                                                            </div>
                                                        </div></td>     <!--table context for friend request accept reject-->
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr class="text-center">
                                                    No pending requests!
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>    <!--table div for friend request close-->
                                </div>    <!-- friend request panel content open close-->
                            </div> <!-- friend request panel close-->
                        </div>   <!-- main div for friend request close -->
                {% endif %}
            </div>
        </div>
    </div>

    <!--Row to hold the Game statistics and High Scores-->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
            <div class="panel panel-black">
                <div class="panel-heading text-center">Game statistics</div>
                    <div class="panel-body">
                        <div class="table-responsive table-board">
                                <table class="table table-primary">
                                    <thead>
                                    <tr >
                                        <th class="table-heading text-white text-center">Easy</th>          <!--table header for stats-->
                                        <th class="table-heading text-white text-center">Medium</th>        <!--table header for stats-->
                                        <th class="table-heading text-white text-center">Hard</th>          <!--table header for stats-->
                                        <th class="table-heading text-white text-center">Challenge</th>     <!--table header for stats-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="text-center" >
                                        <td>Played :{{ games_played_easy }}</td>          <!--table context for stats-->
                                        <td>Played :{{ games_played_norm }}</td>          <!--table context for stats-->
                                        <td>Played :{{ games_played_hard }}</td>          <!--table context for stats-->
                                        <td>Recieved :{{ challenges_received }}</td>      <!--table context for stats-->
                                    </tr>
                                    <tr class="text-center" >
                                        <td>Won :{{ games_won_easy }}</td>          <!--table context for stats-->
                                        <td>Won :{{ games_won_norm }}</td>          <!--table context for stats-->
                                        <td>Won :{{ games_won_hard }}</td>          <!--table context for stats-->
                                        <td>Issued :{{ challenges_issued }}</td>    <!--table context for stats-->
                                    </tr>
                                    <tr class="text-center" >
                                        <td>Win % :{{ percentage_easy }}</td>           <!--table context for stats-->
                                        <td>Win % :{{ percentage_norm }}</td>           <!--table context for stats-->
                                        <td>Win % :{{ percentage_hard }}</td>           <!--table context for stats-->
                                        <td>Won :{{ challenges_won }}</td>              <!--table context for stats-->
                                    </tr>
                                    <tr class="text-center" >
                                        <td></td>                                       <!--table context for stats-->
                                        <td></td>                                       <!--table context for stats-->
                                        <td></td>                                       <!--table context for stats-->
                                        <td>Win % :{{ percent_challenge_win }}</td>     <!--table context for stats-->
                                    </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
        </div>

        <!--High Scores-->
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-2">
            <div class="panel panel-black">
                    <div class="panel-heading text-center">High Scores</div>
                       <div class="panel-body">
                            <p class="text-center"> Easy: {{ easy_high }}</p>
                            <p class="text-center"> Medium: {{ norm_high }}</p>
                            <p class="text-center"> Hard: {{ hard_high }}</p>
                       </div>
            </div>
        </div>

        <!--Ongoing Challenges-->
        <div class="class-xs-12 col-sm-12 col-md-12 col-lg-2 fixed-div">
            <div class="panel panel-black">
                 <div class="panel-heading text-center text-orange">Ongoing Challenges</div>
                     <div class="panel-body panel-table">
                            {% for challenge in ongoing_challenges %}
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                    <p><a href='{% url 'profile' challenge.challenger %}'>
                                        {{ challenge.challenger }}</a>: {{ challenge.game.level }}
                                        -{{ challenge.score_to_beat }} - {{ challenge.remaining_attempts }}</p>
                                </div>
                            {% endfor %}
                     </div>
            </div>
        </div>

        <!--Pending Challenges-->
        {% if is_your_page %}
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">    <!-- main div for ongoing -->
                <div class="panel panel-black">    <!-- ongoing panel -->
                    <div class="panel-heading text-center">Pending Challenges</div>

                        <!-- ongoing panel header open close-->
                        <div class="panel-body">
                            {% if pending_challenges %}
                                {% for challenge in pending_challenges %}
                                    <div class="table responsive">
                                        <table class="table">
                                            <tbody class="text-center">
                                                <tr>
                                                    <td>
                                                        <a class="text-center text-capitalize" href='{% url 'profile' challenge.challenger %}'>{{ challenge.challenger }}</a>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group-justified">
                                                            <div class="btn-group">
                                                            <button class="accept_challenge btn btn-success" name="{{ challenge.id }}">Accept</button>
                                                            </div>
                                                            <div class="btn-group">
                                                                <button class="decline_challenge btn btn-danger" name="{{ challenge.id }}">Decline</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                </div>
            </div>
        {% endif %}

    </div>

     <!-- Modal -->
    <div class="modal fade" id="seemorebadges" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="  table-heading text-center">
                    <p class="text-right"><button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
                    <p class="table-heading text-panel-heading  text-white">Badges</p>
                    </p>
                </div>
                <div class="modal-body pre-scrollable ">
                    {% for badge in badge_list %}
                        {% if forloop.counter|divisibleby:"4" or  forloop.counter == 1  %}
                            <div class="row ">
                        {% endif %}
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <img src="/static/badges/{{ badge.icon }}"
                                     type="image/png" alt="badge"
                                     class="col-lg-12 col-xs-12 col-sm-12 col-md-12" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                <div class="row">
                                    <h4 class="  text-center  ">{{ badge.name }}</h4></div>
                                <div class="row">  <p class="text-center text-orange table-headingb">Tier {{ badge.tier }} -
                                    {{ badge.description }}</p></div>
                            </div>
                        </div>
                    </div>
                    {% if  forloop.counter|divisibleby:"3"  %}
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <div class="row spacer"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




