{% extends "basic.html" %}

{% load staticfiles %}
 <!-- Bootstrap Core css -->
    <link href="{%  static "css/bootstrap.min.css" %}" rel="stylesheet">

{% block body %}
<div>
	<h1>Register</h1>
    {% if registered %}
    <p>Hey! You've registered already!</p>
    <a href="{% url 'play' %}">Get back to the game!</a> <!-- Can this be made into a button in css? -->
    {% else %}
	<form class='form-horizontal' id ="register" method="post" action="/llamalandmine/register/">
        {% csrf_token %}
        {% for field in user_form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        <input type="submit" name="submit" value="Register" />
    {% endif %}
	</form>
</div>
{% endblock %}