{% extends "basic.html" %}
{% load staticfiles %}
{% block body %}

<h1 class="text-title text-uppercase"> I'mma let you finish but....<br>you gotta log in to see this page!</h1>
    <div class="row">
            <!--Judging Llama image on the left side-->
            <div class="col-xs-12 col-sm-10 col-md-12 col-lg-4">
                <img  src="{% static "images/judgingllama.jpg" %}">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <p class="text-paragraph"> Judging Llama regrets to inform you but you cannot access the page you want
                unless you register.<br>So join us to have full access to the site, that includes
                posting scores to the leaderboards, adding friends and then destroying them
                in challenges!</p>

                <div class="col-lg-offset-5 col-md-offset-4 col-sm-offset-5 col-xs-offset-4">
                    <a href="{% url 'register' %}" class="btn btn-primary btn-lg">Register Here!</a>
                </div>
            </div>
    </div>

{% endblock %}